.messageText {
    fill: transparent;
    stroke: none !important;
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 14px;
    font-weight: 100 !important;
}

text.actor {
    fill: black;
    stroke: none;
    font-family: Helvetica;
    font-size: 200px;
}